Lab 2/Task1/build/*
!Lab 2/Task1/build/Images
Lab 2/Task2/build/*
!Lab 2/Task2/build/Images
Lab 2/Task3/build/*
!Lab 2/Task3/build/Images
Lab 2/Task4/build/*
!Lab 2/Task4/build/Images
Lab 2/Task5/build/*
!Lab 2/Task5/build/Images
Lab 2/Task6/build/*
!Lab 2/Task6/build/Images

Lab 3/Task1/build/*
!Lab 3/Task1/build/Images
Lab 3/Task2/build/*
!Lab 3/Task2/build/Images
Lab 3/Task3/build/*
!Lab 3/Task3/build/Images
Lab 3/Task4/build/*
!Lab 3/Task4/build/Images
Lab 3/Task5/build/*
!Lab 3/Task5/build/Images
Lab 3/Task6/build/*
!Lab 3/Task6/build/Images